.dog-pics{

}
.dropdown{
    padding-bottom: 10px;
}
.container img{
    border-radius:5px;
    height: 300px;
    width: 300px;
}
.container button{
    margin-top: 10px;
    width: 50px;

}
.container{
    display: flex;
    flex-direction: column;
}
